[API]
MYAPIKEY = 964bacf1
BASEURL = https://test-communication-clients-api.vpc-f814c29f.airnz.co.nz
API = /communication-clients/
PARAM= ESTAR


[PROXIES]
HTTP = http://xyz.com
HTTPS = https//xyz.com

[PORT]
PORT=1234

[STATUSCODES]
VALID=200
INVALID=400
